!!! 5
%html(lang="en-US")
  %body
    %p You requested to change your MyFLIX password.
    %p If you did not issue this request, please ignore this message.
    %p If you did issue this request, please follow  
    = link_to "this link", edit_reset_password_request_url(@user.reset_password_token)